<html>
      <head>
          <title>Huw's Website</title>

      </head>
      <body>
      <FONT FACE="arial">
          <div>

          <FONT SIZE=20px>

          <h1 style="color:lightblue">Welcome to Huw's Website</h1>

          </FONT>

          </div>

          <div>

          <h2><FONT SIZE=16px>About Huw</FONT></h2>

          <FONT SIZE=5px>

          <p>Huw was born in Bodelwyddan, North Wales. He went to school in Abergele and recently graduated from Cambridge University with a degree in Psychology.</p>

          <p>Inspired by a work experience placement, Huw has been volunteering with charities for the visually impaired since school. His main roles have included befriending, running social and walking groups, and providing admin support at a drop-in resource centre.</p>

          <p>Whilst at university, Huw became president of the Cambridge University Rock Society (RockSoc) where he led the move of the society's club night to a large nightclub venue where it continues to thrive. He also co-founded the Cambridge University Vegan Society and acted as the Junior Tresurer until he graduated.</p>

          </FONT>

<br><br>

          </div>

          <div>

          <h2><FONT SIZE=16px>Huw's Skills</FONT></h2>

          <ul><FONT SIZE=5px><li>Staring at walls</li><li>Sunbathing</li><li>Dancing</li><li>Getting dressed</li><li>Sleeping</li><li>Eating vegan cakes</li><li>Pretending to do work</li></FONT></ul>

          </div>

<br><br>

          <div>

          <h2><FONT SIZE=16px>Huw's Adventures</FONT></h2>
          {% for Experience in experiences %}
              <p><FONT SIZE=9px><a href="">{{ Experience.title}}</FONT><a/></p>
              <p><FONT SIZE=2px>published: {{ Experience.Published_Date }}</FONT></p>
              <p style="color:#B6B6B4"><FONT SIZE=3px>Type: {{ Experience.type }}</FONT></p>
              <p><FONT SIZE=5px>{{ Experience.description|linebreaks }}</FONT></p>
          {% endfor %}
          </FONT>

      </body>

</html>
